/* CSS file for index.html page */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b7c8d9;
    display: flex;
    justify-content: center;
}

ul li a {
    display: block;
    color: #0c2232;
    padding: 14px 50px;
    text-decoration: none;
}

ul li a:hover:not(.active) {
    background-color: #d1e2f3;
    color: #0c2232; /* keeps navbar text dark instead of changing to the global hover color */
}

ul li a.active {
    color: #b7c8d9;
    background-color: #0c2232;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Arial;
}

/* instead of manually applying this everywhere */
p {
    text-align: center;
}

.headForm {
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    padding-top: 50px;
    padding-bottom: 20px;
}

.logoLeft {
    padding: 15px;
    float: left;
}

.logoRight {
    padding: 15px;
    float: right;
}

.spacer {
    padding-top: 20px;
    padding-bottom: 20px;
}