/* CSS file for index.html page */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b7c8d9;
    display: flex;
    justify-content: center;
}

ul li a {
    display: block;
    color: #0c2232;
    padding: 14px 50px;
    text-decoration: none;
}

ul li a:hover:not(.active) {
    background-color: #d1e2f3;
    color: #0c2232; /* keeps navbar text dark instead of changing to the global hover color */
}

ul li a.active {
    color: #b7c8d9;
    background-color: #0c2232;
}

.masterBg {
    background-image: url("../assets/cloud-bg.jpg"); /* This path must be in relation to the CSS file NOT the HTML file! */
    background-position: center;
    background-size: cover;
    height: 52em;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Arial;
}

.boxFont {
    font-weight: bold;
    text-align: center;
}

.dataText {
    text-align: center;
}

.spacer {
    padding-top: 25px;
    padding-bottom: 25px;
}

.spacerMini {
    padding-top: 10px;
    padding-bottom: 5px;
}

.subBox {
    background: rgba(217, 217, 217, 0.6);
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #0c2232;
}

#boxVis {
    width: 725px;
    height: 700px;
}

#boxSettings {
    width: 275px;
    height: 265px;
}

#boxData {
    width: 275px;
    height: 225px;
}

.imgDisplay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}