/* CSS file for index.html page */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b7c8d9;
    display: flex;
    justify-content: center;
}

ul li a {
    display: block;
    color: #0c2232;
    padding: 14px 50px;
    text-decoration: none;
}

ul li a:hover:not(.active) {
    background-color: #d1e2f3;
    color: #0c2232; /* keeps navbar text dark instead of changing to the global hover color */
}

ul li a.active {
    color: #b7c8d9;
    background-color: #0c2232;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Arial;
}

.masterBg {
    background-image: url("cloud-bg.jpg"); /* This path must be in relation to the CSS file NOT the HTML file! */
    background-position: center;
    background-size: cover;
    height: 50em;
}

.backColor {
	background: rgba(217, 217, 217, 0.4);
/*	background-color: whitesmoke;*/
}

.spacer {
    padding-top: 20px;
    padding-bottom: 20px;
}

h4 {
	padding-top: 20px;
}

p {
	padding-left: 20px;
	padding-right: 20px;
}

img {
	padding: 20px;
}

#whiteText {
	color: aliceblue;
	text-decoration: underline;
	padding-top: 20px;
	font-size: 18px; 
}
